     
h2{
color:gold;
font-size:30px

}
 
h3{
color:red;
}

h4{
color:brown ;
}

table{

line-height:30px;}


p{
line-height: 28px;
font-size:25px;
font-weight:60;
text-align:center ;
}


